

/*.upper {*/
    /*margin: 0px 0px 75px 430px;*/

/*}*/

.upperadd {
    margin-left: 340px;
    margin-bottom: 50px;

}

.upperaddtext {
    font-family: "Lucida Bright", sans-serif;

}

.borderer {
    border: 2px solid black;
}

body {
    background-color: #DCDCDC;
}

h1 {
    background-color: #BDB76B;

}

a {
    text-decoration: none;
}

/*.letter {*/
    /*color: #B22222;*/
    /*font-size: 300%;*/
    /*font-family: "Lucida Handwriting", sans-serif;*/
/*}*/

.letter1 {
    font-family: "Agency FB", sans-serif;
}

.multiplier {

    font-size: 150%;
}

/*.otherletter {*/
    /*font-size: 200%;*/
    /*font-family: "Lucida Handwriting", sans-serif;*/

/*}*/

.distanser1 {
    margin: 0px 0px 0px 300px;
}

body {
    margin: 0px 0px 0px 0px;
}
table {
    margin: auto;
    font-family: "Agency FB", sans-serif;
    font-size: 170%;
}
.font {
    font-family: "Agency FB", sans-serif;
    font-size: 170%;
}

center {
    margin: auto;
    font-family: "Agency FB", sans-serif;
    font-size: 250%;
    color: black;
}
red {
    color: red;
}
.decoration {
    margin-left: 75px;
    font-family: "Agency FB", sans-serif;
    font-size: 150%;
}

.type {
    font-family: "Agency FB", sans-serif;
    font-size: 170%;

}

.indent {
    margin-left: 65px;
}
.indent2 {
    margin-left: 130px;
}
.meny {
    margin: 50px 50px 50px 50px;
}
.triangle {
    border: 1px solid green;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
