#include("views/admin-header.vm")

#set($total_cost=0)

<center>
    <table cellpadding="20" cellspacing="0" border="3">
        <tr>
            <td colspan="3">
                <center><b>$user_name</b></center>
            </td>

        </tr>

        </br>
        </br>
        </br>
        <tr>
            <th> Transaction ID</th>
            <th> Transaction time</th>
            <th> Earnings , $ </th>


        </tr>


        #foreach ($h in $user_history)
            <tr>
                <td>$h.id</td>
                <td>$h.data</td>
                <td> $h.earnings </td>
                #set($total_cost=$total_cost+$h.earnings)

            </tr>
        #end

    <tr>
        <td colspan="2">
        <b>  Total </b>
        <td> $tool.format("#0.00",$total_cost)</td>
        </td>

    </tr>
    </table>
</center>


#include("views/footer.vm")

