#include("views/admin-header.vm")
<form action="/admin/hemos" method="post">
    <p><b>NEW Hemostatic</b></p><br/>

    <p/>
    <p><b>ID</b><br/>
        <input type="text" size="10" name="id">
    </p>
    <p><b>Title:</b><br/>
        <input type="text" size="40" name="title">
    </p>
    <p><b>Hemostatic substance:</b><br/>
        <input type="text" size="10" name="substance">
    </p>
    <p><b>Syringe/dispenser volume:</b><br/>
        <input type="text" size="10" name="volume">
    </p>
    <p><b>Price:</b><br/>
        <input type="text" size="10" name="price">
    </p>
    <p><b>Picture:</b><br/>
        <input type="text" size="10" name="picture">
    </p>
    <p><b>Description:</b><br/>
        <textarea name="description" cols="50" rows="5"></textarea>
    </p>
    <p><input type="submit" value="submit">
    </p>
#include("views/footer.vm")