#include("views/admin-header.vm")

</br>
</br>
</br>

<a href="/admin/gels/add">ADD New OPASLESCENCE Gel</a></br>
</br>
<a href="/admin/hemos/add">ADD New HEMOSTATIC </a></br>
</br>
</body>
</br>
</br>
</br>
</html>
<style>
    center {
        margin: auto;
    }
</style>
<center>
    <table cellpadding="20" cellspacing="0" border="3">
        <center> OUR PRODUCTS</center>
        </br>
        </br>
        </br>
        <tr>
            <th> ID </br>(<a href="?sort=orderbyid">Order<br/>By<br/>Id</a>)</th>
            <th> Product name</th>
            <th> Type</th>
            <th> Picture</th>
            <th> Price</th>
            <th> Quantity </th>
            <th> Manufacturer</th>
            <th> Logo</th>
            <th> Delete</th>
            <th> Edit</th>

        </tr>

        #foreach ($product in $catalogue)

            <tr>
                <td>$product.id</td>
                <td>$product.title</td>
                <td>
                #if ($product.class.simpleName == 'OpalescenseGel')
                    Gel
                    #else
                    Hemostatic
                #end
                </td>
                <td><img src="/resources/pictures/$product.picture" width="140" alt="File not found"></td>
                <td>$product.price</td>
                <td><b>$product.quantity </td>
                <td>$product.manufacturer.name</td>
                <td><img src="/resources/logo/$product.manufacturer.logo" width="140" alt="File not found"></td>
                <td><a href="/admin/product/$product.id/delete">Delete this</a></td>
                <td><a href="/admin/product/$product.id/update">Edit this</a></td>
            </tr>
        #end

    </table>
</center>
#include("views/footer.vm")
