#include("views/admin-header.vm")

<center>
    <table cellpadding="20" cellspacing="0" border="3">
        <center> OUR MONEY</center>
        </br>
        </br>
        </br>
        <tr>
            <th> Transaction ID</th>
            <th> Earnings , $</th>
            <th> Buyer,name</th>

        </tr>


        #foreach ($s in $statistic)
            <tr>
                <td>$s.id</td>
                <td> $s.earnings</td>
                <td>  $s.user_name </br><a href="/admin/money/$s.user_name/user_statistic" >statistic</a> <a/></td>
            </tr>
        #end
    </table>
</center>
#include("views/footer.vm")
