<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/html">

<body>

    <a href="/admin/contact">CONTACT edit page</a></br>
    </br>
    <a href="/admin/manufacturer">MANUFACTURER edit page</a></br>
    </br>
    <a href="/admin">PRODUCT edit page</a></br>
    </br>
    <a href="/admin/money">MONEY statistic page</a></br>
    </br>
    <a href="/total">Return to the MAIN page</a>






