#include("views/admin-header.vm")
</body>
</br>
</br>
</br>
</html>
<form enctype="multipart/form-data" action="/admin/manufacturer" method="post">

    <p><b>NEW Manufacturer</b></p><br/>

    <p/>
    <p><b>Name:</b><br/>
        <input type="text" size="40" name="name">

    </p>
    <p><b>Upload your description(txt.files)</b></p>
    <p><input type="file" name="description_file" accept="text/plain">
    <p><b>Description:</b><br/>
        <textarea name="description" cols="50" rows="5"></textarea>
    </p>
    <p><b>Upload your logo</p>
    <p><input type="file" name="photo" accept="image/*,image/jpeg">
        <br/> <br/>
        OR
        <br/>
    <p>Select logo from list:</b><br/>
        <select name="logo">
            <option disabled selected>Select logo</option>
            #foreach ($l in $logos)
                <option> $l</option>
            #end
        </select>
    </p>

    <p><input type="submit" value="submit">
    </p>


    #include("views/footer.vm")
