#include("views/admin-header.vm")
<style>
    center {
        margin: auto;
    }
</style>


<center><table cellpadding="25" cellspacing="0" border="5">
    <center> WHITHENING GELS</center>
    <tr>
        <th> Product name</th>
        <th> Reactant quatity</th>
        <th> Syringe volume</th>
        <th> Price</th>
        <th> Delete Product</th>
        <th> Edit Product</th>


    </tr>

    #foreach ($gel in $catalogue)

        <tr>
            #set( $num = $velocityCount - 1 )
            <td><a href="/gels/$num">$gel.title</a></td>
            <td> $gel.reactantPercent %</td>
            <td> $gel.volume ml</td>
            <td> $gel.price $</td>
            <td><a href="/admin/gels/$num/delete">Delete THIS</a></td>
            <td><a href="/admin/gels/$num/update">Edit THIS</a></td>
        </tr>
    #end

</table>
</center>
#include("views/footer.vm")