#include("views/admin-header.vm")
</body>
</br>
</br>
</br>
</html>
    <form action="/admin/gels" method="post">
        <p><b>NEW Opalescense Gel</b></p><br/>
        <p/>
##        <p><b>ID</b><br/>
##            <input type="text" size="10" name="id">
##        </p>
        <p><b>Title:</b><br/>
            <input type="text" size="40" name="title">
        </p>
        <p><b>Reactant percent:</b><br/>
            <input type="text" size="10" name="reactantPercent">
        </p>
        <p><b>Syringe volume:</b><br/>
            <input type="text" size="10" name="volume">
        </p>
        <p><b>Price:</b><br/>
        <input type="text" size="10" name="price">
       </p>
        <p><select name="picture">
            <option disabled selected>Select picture</option>
            #foreach ($p in $pictures)
                <option > $p </option>
            #end
        </select></p>
##            <input type="text" size="10" name="picture">
##        </p>
        <p><b>Description:</b><br/>
            <textarea name="description" cols="50" rows="5"></textarea>
        </p>
        <p><select name="manufacturerId">
            <option disabled selected>Select manufacturer</option>
            #foreach ($m in $manufacturers)
                <option value="$m.id"> $m.name </option>
            #end
        </select></p>
        <p><input type="submit" value="submit">
        </p>
#include("views/footer.vm")