#include("views/header.vm")

<table cellpadding="25" cellspacing="0" border="5">
<tr>
    <br/>
    <center><b>YOUR PURCHASES</b></center>
    <th> Product name <br/></th>
    <th> Quantity</th>

#foreach ($p in $basket.keySet())
    <tr>

        <td> $p.title</td>
        <td> $basket.get($p)</td>

    </tr>
#end
</table>
#include("views/footer.vm")
