#include("views/header.vm")
<style>
    div.contacts {
        font-family: "Agency FB", sans-serif;
        font-size: 170%;
    }
</style>
<img src="/resources/jylishop.png" alt="File not found">
<div class="contacts">
    <b>Your manager: </b> $contactInfo.name<br/>
    <b>Email: </b> $contactInfo.email<br/>
    <b>Telephone: </b>$contactInfo.telephone<br/>
    <b>Adress: </b>$contactInfo.address
</div>

#include("views/footer.vm")