#include("views/header.vm")
<style>
    center {
        margin: auto;
    }

    .type {
        font-family: "Agency FB", sans-serif;
        font-size: 170%;
        margin-left: 75px;
    }
</style>
<br/>
<br/>
<br/>
<div class="type">
    <b>Product: </b> $opalescenseInfo.title<br/>
    <b>Description: </b>$opalescenseInfo.description<br/>
    <b>Volume of reagent: </b> $opalescenseInfo.reactantPercent %<br/>
    <b>Syringe volume: </b>$opalescenseInfo.volume ml<br/>
    <b>Price per one: </b>$opalescenseInfo.price $<br/>
</div>
<br/>
<br/>
<br/>
<center>
    <img src="/resources/pictures/$opalescenseInfo.picture" alt="File not found">

</center>
<br/>
<br/>
<div class="decoration">
    #if ($comments.size()>0)
        Comments:
        <br/>
    #else No comments for this product.Be to first to add.
    #end
    <br/>
    #foreach ($c in $comments )
        #if ($c.userName == 'Anonymous user')<span style="color:ghostwhite"> <i class="fa fa-user"
                                                                                aria-hidden="true"></i>$c.userName</span>
        #else <span style="color:#0101DF"> <i class="fa fa-user" aria-hidden="true"></i>$c.userName</span>
        #end
        said at $c.date <br/>
        $c.message<br/>
        <br/>
    #end
    <form action="/product/$opalescenseInfo.id/comment" method="post">
        <!--  <p>
              <b>Enter your name:</b><br/>
              <input type="text" size="10" name="userName">
          </p> -->
        <p>
            <b>Your comment:</b><br/>
            <textarea name="message" cols="50" rows="5"></textarea>
        </p>
        <p>
            <input type="submit" value="submit">
        </p>

</div>

#include("views/footer.vm")