#include("views/header.vm")

<style>
    center {
        margin: auto;
    }

    .type {
        font-family: "Agency FB", sans-serif;
        font-size: 170%;
        margin-left: 75px;
    }
</style>
<br/>
<br/>
<br/>
<div class="type">
    <b>Product: </b> $opalescenseInfo.title<br/>
    <b>Description: </b>$opalescenseInfo.description<br/>
    <b>Volume of reagent: </b> $opalescenseInfo.reactantPercent %<br/>
    <b>Syringe volume: </b>$opalescenseInfo.volume ml<br/>
    <b>Price per one: </b>$opalescenseInfo.price $<br/>
</div>
<br/>
<br/>
<br/>
<center>
    <img src="/resources/pictures/$opalescenseInfo.picture" alt="File not found">

</center>
<br/>
<br/>
<div class="decoration">
    #if ($comments.size()>0)
        Comments:
        <br/>
    #else No comments for this product.Be to first to add.
    #end
    <br/>
    #foreach ($c in $comments )
        <span style="color:#0101DF"> <i class="fa fa-user" aria-hidden="true"> </i> $c.userName</span>
        said at $c.date <span style='padding-left:25px;'>
        #if ($user_name && $c.isUserVoted($user_name) == false)
            Please,rate this comment
        <span style='padding-left:25px;'>
            <a href="/product/comment/$c.id/positive"><i class="fa fa-plus-square-o" aria-hidden="true"></i> </a>
        <span style='padding-left:10px;'>
            <a href="/product/comment/$c.id/negative"><i class="fa fa-minus-square-o" aria-hidden="true"></i>  </a>
        <span style='padding-left:10px;'>
            <a href="/product/comment/$c.id/worthless">  <i class="fa fa-trash-o" aria-hidden="true"></i> </a>
        #else
            You rated this comment,thanks
        #end
        <br/> <br/>
        $c.message
        <br/> <br/>
        Rating
    <span style='padding-left:25px;'>
        <span style="color:red"><i class="fa fa-plus-square"
                                   aria-hidden="true"></i><b>.positive<span
                style='padding-left:5px;'>$c.getPositiveRating()</b> </span>
    <span style='padding-left:15px;'>
        <span style="color:blueviolet"> <i class="fa fa-minus-square"
                                           aria-hidden="true"></i><b>.negative<span
                style='padding-left:5px;'> $c.getNegativeRating()</b></span>
    <span style='padding-left:15px;'>
        <span style="color:blueviolet"><i class="fa fa-trash"
                                          aria-hidden="true"></i><b>.worthless<span
                style='padding-left:5px;'>$c.getWorthlessRating()</b> </span>
        <br/><br/><br/><br/><br/>
    #end
    #if ($user_name)
    <form action="/product/$opalescenseInfo.id/comment" method="post">
        <p>
            <b>Your comment:</b><br/>
            <textarea name="message" cols="50" rows="5"></textarea>
        </p>
        <p>
            <input type="submit" value="submit">
        </p>
    #else
    #end

</div>

#include("views/footer.vm")