<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="/static/style.css" type="text/css"/>

<head>
    <meta charset="UTF-8">
    <title>JYLISHOP</title>
    <head>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/ico">
    </head>
</head>
<div class="borderer">
<h1>
   <center> <img src="/static/jylishopMainLogo.PNG" alt="File not found"><br/></center>
    <div class="upperadd">
        <div class="upperaddtext">
            <y> Buy Quality Products In Our Online Store!</y>
        </div>
    </div>

    <span class="distanser1"><a href="/total"><span class="multiplier"><span class="letter1"><o>Product List</o></span></span></a></span>
    <span class="distanser1"><a href="/contact"><span class="multiplier"><span class="letter1"><h>Contact</h></span></a></span>

</h1>
</div>



<body>





