#include("views/header.vm")
<style>
    center {
        margin: auto;
    }

    .type {
        font-family: "Agency FB", sans-serif;
        font-size: 170%;
        margin-left: 75px;

    }
</style>
<br/>
<br/>
<br/>
<div class="type">
    <b>Product: </b> $hemoInfo.title<br/>
    <b>Description: </b>$hemoInfo.description<br/>
    <b>Hemostatic Substance:</b> $hemoInfo.hemostaticSubstance<br/>
    <b>Syringe/dispenser volume: </b>$hemoInfo.volume ml<br/>
    <b>Price per one: </b>$hemoInfo.price $
</div>
<br/>
<br/>
<br/>
<center>
    <img src="/resources/pictures/$hemoInfo.picture" alt="File not found">
</center>
<br/>
<br/>
<div class="decoration">
    #if ($comments.size()>0)
        Comments:
        <br/>
    #else No comments for this product.Be to first to add.
    #end
    <br/>
    #foreach ($c in $comments )
        #if ($c.userName == 'Anonymous user')<span style="color:ghostwhite"> <i class="fa fa-user" aria-hidden="true"></i>$c.userName</span>
        #else <span style="color:#0101DF"> <i class="fa fa-user" aria-hidden="true"></i>$c.userName</span>
        #end
        said at $c.date <span style='padding-left:125px;'>
        <a href="/product/comment/$c.id/positive_rating"><span style="color:red"> $c.positiveRating</span></a>
        <span style='padding-left:25px;'>
            <a href="/product/comment/$c.id/negative_rating"> <span style="color:blueviolet"> $c.negativeRating</span></span></span></a><br/>
        $c.message
        <br/>
        <br/>
    #end
    #if  ($user_name)
    <form action="/product/$hemoInfo.id/comment" method="post">
        <p>
            <b>Your comment:</b><br/>
            <textarea name="message" cols="50" rows="5"></textarea>
        </p>
        <p>
            <input type="submit" value="submit">
        </p>
        #end

</div>
#include("views/footer.vm")