#include("views/header.vm")
<style>
    table {
        margin: auto ;
        font-family: "Agency FB", sans-serif;
        font-size: 170%;


    }
</style>

<table cellpadding="25" cellspacing="0" border="5">
    <tr>
        <th> Product name</th>
        <th> Reactant quatity</th>
        <th> Syringe volume</th>
        <th> Price</th>
     <!-- <th> For admin</th> -->


    </tr>

    #foreach ($gel in $catalogue)

        <tr>
            #set( $num = $velocityCount - 1 )
            <td><a href="/products/$num">$gel.title</a></td>
            <td> $gel.reactantPercent %</td>
            <td> $gel.volume ml</td>
            <td> $gel.price $</td>
           <!-- <td><a href="/admin/products/$num/delete">Delete THIS</a></td> -->
        </tr>
    #end

</table>
#include("views/footer.vm")