#include ("views/header.vm")
<br/>
<br/>
<div class=type>
    <div class="indent"
    <b><img src="/resources/logo/$manufacturer.logo" alt="File not found">
        <br/>
        <br/>

        $manufacturer.description
        <br/>
        <br/>
        <br/>
        Number of products from this manufacturer in our shop is: $count ( <a href="/manufacturer/$manufacturer.id/its_products">See these products</a>)

</div>
</div>
#include("views/footer.vm")
