#include("views/header.vm")
<style>
    letter {
        font-family: "Agency FB", sans-serif;
        font-size: 170%;
    }
</style>
<letter>
<b>Product: </b> $opalescenseInfo.title<br/>
<b>Description: </b>$opalescenseInfo.description<br/>
<b>Volume of reagent: </b> $opalescenseInfo.reactantPercent %<br/>
<b>Syringe volume: </b>$opalescenseInfo.volume ml<br/>
<b>Price per one: </b>$opalescenseInfo.price $
</letter>
#include("views/footer.vm")