<br/>
<br/>
<div class="multiplier">
    SORT BY:
    <br/>
    PRICE <button><a href="?sort=priceasc"><i class="fa fa-sort-numeric-asc fa-2x " aria-hidden="true"></i> </a> </button>
    <button><a href="?sort=pricedesc"><i class="fa fa-sort-numeric-desc fa-2x" aria-hidden="true"></i></a></button>
    <br/>

    NAME
    <button><a href="?sort=title"><i class="fa fa-sort-alpha-asc fa-2x" aria-hidden="true"></i></a> </button>
    <button><a href="?sort=title_reverse"><i class="fa fa-sort-alpha-desc fa-2x" aria-hidden="true"></i></a> </button>
    <br/>

    MANUFACTURER
    <button><a href="?sort=by_name"><i class="fa fa-sort-alpha-asc fa-2x" aria-hidden="true"></i></a> </button>
    <button> <a href="?sort=reverse_by_name"><i class="fa fa-sort-alpha-desc fa-2x" aria-hidden="true"></i></a> </button>
    <br/>

    <button><a href="/products/only_gels">Only GELS</a> </button>
    <br/>

    <button><a href="/products/only_hemos">Only HEMOSTATIC</a> </button>
    <br/>

</div>


