<br/>
<br/>
<div class="multiplier">


    <span style='padding-left:25px;'> </span>   SORT BY:<span style='padding-left:425px;'> </span>
    <br/>
    <span style='padding-left:125px;'> </span> PRICE <button><a href="?sort=priceasc"><i class="fa fa-sort-numeric-asc fa-2x " aria-hidden="true"></i> </a> </button>
    <button><a href="?sort=pricedesc"><i class="fa fa-sort-numeric-desc fa-2x" aria-hidden="true"></i></a></button>
    <br/>

    <span style='padding-left:125px;'> </span>  NAME
    <button><a href="?sort=title"><i class="fa fa-sort-alpha-asc fa-2x" aria-hidden="true"></i></a> </button>
    <button><a href="?sort=title_reverse"><i class="fa fa-sort-alpha-desc fa-2x" aria-hidden="true"></i></a> </button>
    <br/>

    <span style='padding-left:125px;'> </span>  MANUFACTURER
    <button><a href="?sort=by_name"><i class="fa fa-sort-alpha-asc fa-2x" aria-hidden="true"></i></a> </button>
    <button> <a href="?sort=reverse_by_name"><i class="fa fa-sort-alpha-desc fa-2x" aria-hidden="true"></i></a> </button>
    <br/>

</div>


