#include ("views/header.vm")

<style>
    table {
        margin: auto;
        font-family: "Agency FB", sans-serif;
        font-size: 170%;
    }
    center {
        margin: auto;
        font-family: "Agency FB", sans-serif;
        font-size: 170%;
        color: black;


</style>

<table cellpadding="25" cellspacing="0" border="5">
    <tr>
        <center>Product</center>
        <th> Product<br/>ID</th>
        <th> Product name</th>
        <th> Price</th>
        <th> Picture </th>



    </tr>

    #foreach ($product in $catalogue)

        <tr>


            <td>$product.id</td>
            <td><a href="/products/$product.id">$product.title</a></td>
            <td> $product.price $</td>
            <td>  <img src="/resources/$product.picture" width="200" alt="File not found"></td>

        </tr>
    #end

</table>
#include("views/footer.vm")